/* COMMENTS */

/* todo: make cards respondsive */
/* todo: fix overflow of <h2> text */
/* todo: format for 4quarters logo design */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.card-collection{
    display: flex;
    flex-wrap: wrap;
    margin-top: 12rem;
}

.card.rectangle{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 250px 20px;
    grid-template-areas: "image" "text";

    border-radius: 1rem;
    background: #1d1d1d;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: justify;
    cursor: pointer;

    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.card.rounded{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 250px 20px;
    grid-template-areas: "image" "text";

    border-radius: 10rem;
    background: #1d1d1d;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: justify;
    cursor: pointer;

    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.rgb.rectangle::after{
    content: "";
    background: linear-gradient(45deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #3fdad8 40%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 1rem;
    filter: blur(8px);
    transform: translateZ(-1px);
    animation: rgb 6s linear infinite;
}
.rgb.rounded::after{
    content: "";
    background: linear-gradient(45deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #3fdad8 40%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 10rem;
    filter: blur(8px);
    transform: translateZ(-1px);
    animation: rgb 6s linear infinite;
}
@keyframes rgb{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    0% {background-position: 0% 50%;}
}

.card-image-1 {
    grid-area: image;
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url(./imgs/foodForestLayers/foodForest.1.canopyLayer.1.webp);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-size: cover;
}
.card-image-2 {
    grid-area: image;
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url(./imgs/foodForestLayers/foodForest.2.subCanopyLayer.1.jpeg);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-size: cover;
}
.card-image-3 {
    grid-area: image;
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url(./imgs/foodForestLayers/foodForest.3.shrubLayer.1.jpeg);
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    background-size: cover; 
}
.card-image-4 {
    grid-area: image;
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url(./imgs/foodForestLayers/foodForest.4.herbaceousLayer.1.jpeg);
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    background-size: cover; 
}

.card-text {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}
.card-text .date{
    color: rgba(255, 7, 110);
    font-size: 13px;
}
.card-text p {
    color: gray;
    font-size: 14px;
    font-weight: 300;
}
.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6) ;
}

.js-tilt-glare {
    border-radius: 1rem;
}